doctype html
html(lang='en')
  head
    title=title
    != stylesheet('app.css')
    != javascript('app.js')
  body
    .container
      .page-header
        h1
          =title
          small=" " + subtitle
        = description
        
      .btn.btn-default.btn-modal='Click me!'
      
