.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .button.close(type='button', data-dismiss='modal', aria-label='close')
          .span(aria-hidden=true) &times;
        h3 Modal header
      .modal-body
        p Hello, world!
